NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your-walletconnect-project-id
NEXT_PUBLIC_TREASURY_ADDRESS=0x2a0a7a70844877362e5Ad1E33d5045A2FDD6678f
NEXT_PUBLIC_CONTRACT_ADDRESS=0x1683Cd5159a7007D8F79d95A523E3AdC28De599b
NEXT_PUBLIC_SITE_URL=https://base-predict-delta.vercel.app
